# Ignore by default
**/*

# Specifically indicate not ignored files
!.gitignore
!.dockerignore
!.dockerignore
!README.md
!Makefile

# Add .github resources
!.github
!.github/**
!.github/**/*

# Add docs
!docs
!docs/**
!docs/**/*

# Add lib
!lib
!lib/**
!lib/**/*

# Add tools
!tools
!tools/**
!tools/**/*

# Add tests
!tests
!tests/**
!tests/**/*

!*.sh
